body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

label {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

input {
  width: 200px;
  margin-bottom: 1rem;
  padding: 5px;
}

button {
  padding: 8px 15px;
  width: 212px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#horarios-gerados {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.horario {
  display: flex;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
